<!-- userAndCats.1.username goes to the first item in the array -->

<h1>{{userAndCats.0.username}}'s Profile</h1>

<p>id in system: {{userAndCats.0.id}}</p>
<p>Email: {{userAndCats.0.email}}</p>

<h2>Cats that {{userAndCats.0.username}} owns</h2>

<ul>
  {{#each userAndCats}}
    <li>
      <p>Cat's name: {{name}}</p>
      <p>Is this cat sleepy?
        {{#if sleepy}}
          yes
        {{else}}
          no
        {{/if}}
      </p>
    </li>
  {{/each}}
</ul>
